<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" type="text/css" media="all">
</head>
<body>
    <body class="align">

        <div class="login">
      
          <header class="login__header">
            <h2><svg class="icon">
                <use xlink:href="#icon-lock" />
              </svg>Sign In</h2>
          </header>
      
          <form action="#" class="login__form" method="POST">
      
            <div>
              <label for="username">Username</label>
              <input type="text" id="username" name="username">
            </div>
      
            <div>
              <label for="password">Password</label>
              <input type="password" id="password" name="password">
            </div>
      
            <div class="btn">
              <input class="button" id="btnSignIn" type="button" value="Sign In">
              <input class="button" id="btnSignUp" type="button" value="Sign Up">
            </div>
      
          </form>
      
        </div>
      
        <svg xmlns="http://www.w3.org/2000/svg" class="icons">
      
          <symbol id="icon-lock" viewBox="0 0 448 512">
            <path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z" />
          </symbol>
      
        </svg>
      
      </body>
      
      <!-- https://fontawesome.com/icons/lock?style=solid -->
      <script src="./script.js"></script>
</body>
</html>