@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, button {
  padding: 0;
  margin: 0;
}

html, body, .flexbox {
  width: 100%;
  height: 100%;
}

body {
  color: #2f2f2f;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.flexbox {
  /* background-color: #7dd8ff; */
  background-color: #d8f1d7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  background-color: #fff;
  margin: 20px;
  width: 100%;
  height: 100%;
  max-height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.chat-box>.chat-box-header {
  width: 100%;
  padding: 20px 15px;
  border-bottom: solid 1px #cfcfcf;
  box-sizing: border-box;
}

.chat-box>.chat-box-body {
  height: 100%;
  display: flex;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.chat-box>.chat-box-body #chat_messages {
  width: 100%;
  padding: 20px 15px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chat-box>.chat-box-body #chat_messages .message {
  /* width: 80%; */
  padding: 20px 15px;
  margin: 2px 0;
  overflow: hidden;
  border-radius: 13px;
  transition: height 0.3s ease-in-out;
}

.chat-box>.chat-box-body #chat_messages .message.hide {
  height: 0;
}

.chat-box>.chat-box-body #chat_messages .my-message {
  color: #fff;
  background-color: #006ae3;
  align-self: flex-end;
}

.chat-box>.chat-box-body #chat_messages .other-message {
  background-color: #e2e2e2;
}

.chat-box>.chat-box-body #chat_messages .profile {
  margin: 2px 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.chat-box>.chat-box-body #chat_messages .profile.hide {
  height: 0;
}

.chat-box>.chat-box-body #chat_messages .profile img {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border-radius: 50%;
}

.chat-box>.chat-box-body #chat_messages .my-profile {
  color: #afafaf;
  align-self: flex-end;
}

.chat-box>.chat-box-body #chat_messages .other-profile {
  color: #afafaf;
}

.chat-box #typing {
  color: #afafaf;
  width: 100%;
  height: 0;
  padding: 0 15px;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.3s height ease-in-out, 0.3s opacity ease-in-out;
}

.chat-box #typing.active {
  height: 80px;
  opacity: 1;
}

.chat-box #typing span:not(.n) {
  background-color: #afafaf;
  width: 10px;
  height: 10px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 50%;
}

.chat-box #typing span:not(.n):nth-child(1) {
  animation: typing 1.2s infinite;
}

.chat-box #typing span:not(.n):nth-child(2) {
  animation: typing 1.2s infinite 0.1s;
}

.chat-box #typing span:not(.n):nth-child(3) {
  animation: typing 1.2s infinite 0.2s;
}

.chat-box>.chat-box-footer {
  width: 100%;
  padding: 20px 15px;
  border-top: solid 1px #cfcfcf;
  box-sizing: border-box;
  display: flex;
}

.chat-box>.chat-box-footer>#inputChat {
  color: #2f2f2f;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  background-color: #d2d2d2;
  width: 100%;
  height: 40px;
  max-height: 120px;
  border: none;
  padding: 10px 15px;
  resize: none;
  box-sizing: border-box;
  border-radius: 13px;
  transition: 0.3s background-color;
  outline: none;
}

.chat-box>.chat-box-footer>#inputChat:focus {
  background-color: #efefef;
}

.chat-box>.chat-box-footer>#btnChat {
  background: none;
  border: none;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}

@media (min-width: 480px) {
  .chat-box {
    width: 480px;
  }
}

@keyframes typing {
  0% {
    transform: translateY(0px);
  }

  33.3333% {
    transform: translateY(-5px);
  }

  66.6667% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  outline: none;
}

h3>small {
  color: #afafaf;
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVc.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff1GhDuXMQg.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensanscondensed/v23/z7NFdQDnbTkabZAIOl9il_O6KJj73e7Ff0GmDuXMQg.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'open sans', helvetica, arial, sans;
  /* background: url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}

.log-form h2 {
  color: #5d5d5d;
  font-family: 'open sans condensed';
  font-size: 1.35em;
  display: block;
  background: linear-gradient(#141e30, #243b55);
  width: 100%;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  font-weight: 200;
}

.log-form input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}

.log-form input:focus {
  outline: none;
}

.log-form .btn {
  display: inline-block;
  background: #1fb5bf;
  border: 1px solid #1ba0a9;
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.log-form .btn:hover {
  background: #23cad5;
}

.log-form .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.log-form .btn:focus {
  outline: none;
}

.log-form .forgot {
  color: #33d3de;
  line-height: 0.5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  float: right;
}

.log-form .forgot:hover {
  color: #1ba0a9;
}

.box-status .message.other-message {
  width: 100% !important;
  display: flex;
  align-items: center;
}

.message.other-message span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}

.message.other-message span.online {
  background-color: green;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
